body
{
	margin: 0;
	padding: 0;
	font-family: 'poppins';
}

.heading
{
	font-weight: 600;
	font-size: 40px;
	margin: 30px 0;
	text-align: center;
}

#timeline-section
{
	padding: 0;
	position: relative;
	list-style: none;
	overflow: hidden;
	margin: 20px 0;
}

#timeline-section:before
{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #ccc;
	left: 50%;
	transform: translateX(-50%);
}

#timeline-section li
{
	width: 50%;
	clear: both;
}
#timeline-section li:nth-child(odd)
{
	float: right;
}
#timeline-section li:nth-child(even)
{
	float: left;
}

#timeline-section li .timeline-area
{
	position: relative;
	padding: 25px 20px;
	margin: 20px 0;
}
#timeline-section li .timeline-area .content h4
{
	color: var(--primary);
}
#timeline-section li .timeline-area .content p
{
	font-weight: 300;
	font-family: 'roboto';
	text-align: justify;
}


#timeline-section li:nth-child(even) .timeline-area
{
	text-align: right;
	padding-left: 70px;
}

#timeline-section li:nth-child(odd) .timeline-area
{
	text-align: left;
	padding-right: 70px;
}

#timeline-section li:nth-child(odd) .timeline-area:before
{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	left: -7px;
	top: 30px;
	border-radius: 50%;
	background-color: var(--primary);
}

#timeline-section li:nth-child(even) .timeline-area:before
{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	right: -7px;
	top: 30px;
	border-radius: 50%;
	background-color: var(--primary);
}

#timeline-section li .timeline-area .time
{
	position: absolute;
	top: 18px;
	padding: 10px 22px;
	background-color: var(--primary);
	color: #fff;
	font-weight: 500;
	border-radius: 25px;
	font-size: 14px;
	white-space: nowrap;
}

#timeline-section li:nth-child(odd) .timeline-area .time
{
	right: 104%;
}
#timeline-section li:nth-child(even) .timeline-area .time
{
	left: 104%;
}